* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "byekan";
  src: url(fonts/BYekan.ttf);
}
@font-face {
  font-family: "bkamran";
  src: url(fonts/BKamran.ttf);
}
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
  font-family: "byekan";
  background-image: url("images/allah-image-removebg-preview.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.logo-icon {
  width: 59px;
  height: 58.62px;
  margin-top: 1rem;
}
.logoTitle {
  float: left;
  font-family: "bkamran";
  font-size: 24px;
  color: #f29d38;
  margin-top: 1.7rem;
  font-style: bold;
  font-weight: 600;
}
.TitleApp {
  width: 80%;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-right: 10%;
  text-align: center;
  padding-top: 15px;
  font-family: "byekan";
  font-size: 1rem;
}
.timeSet {
  float: right;
  font-size: 1.2rem;
  padding-right: 40px;
  padding-top: 33.78px;
}
.nightDayState {
  background-color: #f2f2f2;
  width: 139px;
  height: 41.73px;
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
}
.btnNightDay {
  border: none;
  background-color: #f2f2f2;
  width: 30px;
  height: 29.81px;
  margin-right: 20px;
  margin-top: 5px;
}
.imgIcon {
  width: 30px;
  height: 29.81px;
}
.btnNight {
  float: left;
  margin-left: 20px;
}
.Guide {
  color: #0d75d4;
  float: right;
  padding-right: 15px;
  text-decoration: none;
}
.searchBoxTextGuide {
  color: #3c3c3c;
  float: right;
  padding-right: 15px;
}
