@media (min-width: 200px) and (max-width: 250px) {
  .logo-icon {
    margin-right: 1.5rem;
    width: 45px;
    height: 45px;
  }
  .logoTitle {
    padding-left: 1.5rem;
    font-size: 20px;
  }
  .TitleApp {
    font-size: 0.7rem;
    height: 50px;
  }
  .timeSet {
    font-size: 0.9rem;
    padding-right: 35px;
    text-align: center;
  }
  .nightDayState {
    width: 120px;
    height: 31px;
    margin-top: 30px;
    margin-left: 56px;
    border-radius: 5px;
  }
  .btnNightDay {
    width: 20px;
    height: 19.81px;
  }
  .imgIcon {
    width: 20px;
    height: 19.81px;
  }
}

@media (min-width: 251px) and (max-width: 300px) {
  .logo-icon {
    margin-right: 2.7rem;
    width: 45px;
    height: 45px;
  }
  .logoTitle {
    padding-left: 2.7rem;
    font-size: 20px;
  }
  .TitleApp {
    font-size: 0.8rem;
    height: 55px;
  }
  .nightDayState {
    margin-left: 69px;
  }
  .timeSet {
    font-size: 1rem;
    /* padding-right: px; */
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 350px) {
  .logo-icon {
    margin-right: 4rem;
    width: 49px;
    height: 49px;
  }
  .logoTitle {
    padding-left: 4rem;
    font-size: 20px;
  }
  .TitleApp {
    font-size: 0.9rem;
    height: 58px;
  }
  .timeSet {
    /* float: right; */
    padding-right: 17px;
    font-size: 0.9rem;
  }
}
@media (min-width: 267px) and (max-width: 289px) {
  .nightDayState {
    margin-left: 75px;
  }
  .timeSet {
    font-size: 1rem;
    padding-right: 50px;
    text-align: center;
  }
}
@media (min-width: 290px) and (max-width: 313px) {
  .nightDayState {
    margin-left: 75px;
  }
  .timeSet {
    font-size: 1rem;
    padding-right: 50px;
    text-align: center;
  }
}
@media (min-width: 314px) and (max-width: 330px) {
  .nightDayState {
    float: left;
    width: 95px;
  }
  .timeSet {
    float: right;
    font-size: 0.95rem;
    padding-right: 20px;
  }
  .imgIcon {
    width: 20px;
    height: 20px;
  }
  .btnNight {
    /* float: left; */
    margin-left: 20px;
    position: absolute;
  }
  .btnDay {
    margin-right: 8px;
    /* float: right; */
  }
}
@media (min-width: 331px) and (max-width: 360px) {
  .nightDayState {
    width: 95px;
  }
  .timeSet {
    font-size: 1rem;
    padding-right: 26px;
  }
  .imgIcon {
    width: 20px;
    height: 20px;
  }
  .btnNight {
    /* float: left; */
    margin-left: 20px;
    position: absolute;
  }
  .btnDay {
    margin-right: 8px;
    /* float: right; */
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .nightDayState {
    width: 110px;
  }
  .timeSet {
    font-size: 1.1rem;
    padding-right: 26px;
  }
  .imgIcon {
    width: 25px;
    height: 25px;
  }
  .btnNight {
    margin-left: 17px;
    position: absolute;
  }
}

@media (min-width: 351px) and (max-width: 400px) {
  .logo-icon {
    margin-right: 5.1rem;
    width: 55px;
    height: 55px;
  }
  .logoTitle {
    padding-left: 5.1rem;
    font-size: 22px;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  .nightDayState {
    width: 110px;
  }
  .timeSet {
    font-size: 1.3rem;
    padding-right: 35px;
  }
  .imgIcon {
    width: 25px;
    height: 25px;
  }
  .btnNight {
    margin-left: 17px;
    position: absolute;
  }
}
@media (min-width: 451px) and (max-width: 500px) {
  .nightDayState {
    width: 120px;
  }
  .timeSet {
    font-size: 1.3rem;
    padding-right: 45px;
  }
  .imgIcon {
    width: 27px;
    height: 27px;
  }
  .btnNight {
    margin-left: 17px;
    position: absolute;
  }
  .btnDay {
    margin-right: 8px;
  }
  .imgIconDay {
    margin-right: 10px;
  }
  .imgIconNight {
    margin-left: 1px;
    float: left;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  .logo-icon {
    margin-right: 6.1rem;
    width: 59px;
    height: 59px;
  }
  .logoTitle {
    padding-left: 6.1rem;
    font-size: 24px;
  }
  .TitleApp {
    font-size: 1rem;
  }
}

@media (min-width: 451px) and (max-width: 500px) {
  .logo-icon {
    margin-right: 7.3rem;
    width: 59px;
    height: 59px;
  }
  .logoTitle {
    padding-left: 7.3rem;
    font-size: 25px;
  }
  .TitleApp {
    font-size: 1.2rem;
  }
}
