* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "byekan";
  src: url(fonts/BYekan.ttf);
}
@font-face {
  font-family: "bkamran";
  src: url(fonts/BKamran.ttf);
}
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
  font-family: "byekan";
  background-image: url("images/allah-image-removebg-preview.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.logo-icon {
  width: 59px;
  height: 58.62px;
  margin-top: 1rem;
}
.logoTitle {
  float: left;
  font-family: "bkamran";
  font-size: 24px;
  color: #f29d38;
  margin-top: 1.7rem;
  font-style: bold;
  font-weight: 600;
}
.TitleApp {
  width: 80%;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-right: 10%;
  text-align: center;
  padding-top: 15px;
  font-family: "byekan";
  font-size: 1rem;
}
.timeSet {
  float: right;
  font-size: 1.2rem;
  padding-right: 40px;
  padding-top: 33.78px;
}
.nightDayState {
  background-color: #f2f2f2;
  width: 139px;
  height: 41.73px;
  float: left;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
}
.btnNightDay {
  border: none;
  background-color: #f2f2f2;
  width: 30px;
  height: 29.81px;
  margin-right: 20px;
  margin-top: 5px;
}
.imgIcon {
  width: 30px;
  height: 29.81px;
}
.btnNight {
  float: left;
  margin-left: 20px;
}
.Guide {
  color: #0d75d4;
  float: right;
  padding-top: 30px;
  text-decoration: none;
}
.searchBoxTextGuide {
  color: #3c3c3c;
  float: right;
  padding-right: 15px;
  padding-top: 10px;
}
.startBox {
  width: 80%;
  height: 100px;
  background-color: red;
  position: absolute;
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 2%;
}
.closeBox {
  position: absolute;
  color: #ffffff;
  width: 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  background-color: #ae1111;
  margin-top: 3%;
  margin-right: 3%;
  text-align: center;
  border-radius: 3px;
}
.TetBox {
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 2.5rem;
}
.startBox-hidden {
  display: none;
}
.searchBoxInput {
  width: 63.5%;
  height: 42.72px;
  margin-right: 10%;
  margin-top: 42.72px;
  background-color: #f2f2f2;
  padding-right: 10px;
  font-size: 1rem;
  font-family: "byekan";
  outline: none;
  border: 2px solid #e8e7e7;
  float: right;
}
.search-box-button {
  background-color: #127efd;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 42.72px;
  float: right;
  margin-left: 67px;
  margin-top: 43px;
  width: 3rem;
}
.search-box-icon-search {
  width: 32px;
  height: 32px;
}
.result-box {
  width: 80%;
  height: 390px;
  background-color: #f2f2f2;
  margin-right: 10%;
  margin-top: 10%;
  position: absolute;
  margin-top: 300px;
  border-radius: 10px;
  padding: 10px;
}
.result-city {
  font-size: 1.2rem;
  float: left;
  color: #e27729;
  padding-left: 32%;
}
.result-search-result-city {
  /* float: right; */
  padding-right: 3px;
  padding-top: 60px;
}
.result-religious-times {
  padding-top: 20px;
}
.result-edit {
  font-size: 1.1rem;
}
.result-box-day {
  float: left;
  background-color: #3792ff;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
}
.map-link {
  float: right;
  text-decoration: none;
  color: #0d75d4;
  padding-top: 10px;
}
