* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "byekan";
  src: url(fonts/BYekan.ttf);
}
@font-face {
  font-family: "bkamran";
  src: url(fonts/BKamran.ttf);
}
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
  font-family: "byekan";
  background-image: url("images/allah-image-removebg-preview.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.logo-icon {
  width: 59px;
  height: 58.62px;
  margin-top: 1rem;
}
.logoTitle {
  float: left;
  font-family: "bkamran";
  font-size: 24px;
  color: #f29d38;
  margin-top: 1.7rem;
  font-style: bold;
  font-weight: 600;
}
.TitleApp {
  width: 80%;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-right: 10%;
  text-align: center;
  padding-top: 15px;
  font-family: "byekan";
  font-size: 1rem;
}
